$yellow: #e5e81a;
$darkgreen: #54ab72;
$red: #b82525;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $darkgreen;
	color: black;
	@include margenes(50px, 10px);
}
footer {
	padding: 10px 10px 0 10px;
	background-color: $darkgreen;
	@include margenes(10px, 0px);
}

.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);
	justify-content: space-between;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}
.footer-addres-icon{
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}
.row {
	padding-top: 10px;
}